<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.appeardev.flashscore-liga-mx</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-lc</string>
    <string>cd "$HOME/Projects/flashscore-mexifan" &amp;&amp; /usr/local/bin/node src/liga-mx.js --results-only &gt;&gt; "$HOME/Library/Logs/flashscore-liga-mx.log" 2&gt;&amp;1</string>
  </array>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>1</integer>
    <key>Hour</key>
    <integer>9</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

  <key>RunAtLoad</key>
  <false/>

  <key>StandardOutPath</key>
  <string>/tmp/flashscore-liga-mx.out</string>

  <key>StandardErrorPath</key>
  <string>/tmp/flashscore-liga-mx.err</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin</string>
    <key>CONCURRENCY</key>
    <string>3</string>
  </dict>
</dict>
</plist>
